footer{
    background-color: #FE9393;
    color: white;
}

.footerImg{
    align-items: center;
    background-color: #FF7D7D;
    display: flex;
    height: 80px;
    justify-content: center;
}

footer div div{
    display: flex;
    justify-content: space-around;
}

footer div span{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

footer div span span a{
    width: 150px;
}